// login
// ------------------------------------------------------

html,
body {
  height: 100%;
}

// stylelint-disable selector-no-qualifying-type

body.login {
  display: flex;

  form {
    width: 330px;
    max-width: 100%;
    padding: 3rem 1.5rem 15rem;
    margin: auto;

    .logo {
      margin: 0 auto 1.5rem;
      font-size: 10rem;
      line-height: 1;
      color: color("fiord");
      text-align: center;
    }

    .links {
      padding-top: 2rem;
    }
  }
}
